/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
  background-image: url('static/background.PNG');
}

.container {
  margin: 0 auto 0 auto;
  width: 700px;
}

.scoreboard{
  color: white;
  background-color: black;
  width: 300px;
  height: 150px;
}

@-webkit-keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.enemy {
  -webkit-animation: myrotate 10s linear normal infinite;
  -webkit-transform-origin: center center;
}
